    
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<head>
    <link href="~/Content-UI/css/navadmin.css" rel="stylesheet" />
</head>
<div class="yazi">
    <h1>Yönetici Paneline Hoşgeldiniz</h1>
</div>