
@{
    ViewBag.Title = "Offices";
    Layout = "~/Views/_Layout.cshtml";
}
<head>
    <link href="~/Content-UI/css/office.css" rel="stylesheet" />
</head>
<div id="masonry" class="gridywrap">
    <div class="gridy-2 gridyhe-1">
        <div class="gridimg" style="        background-image: url(https://designoffice.com.tr/wp-content/uploads/2018/07/design-office-ofis-tasarimi-vem_ilac_istanbul-2017_009-1144x497.jpg)">&nbsp;</div>

        <div class="gridinfo">
            <h3>İstanbul Ofis</h3>
            <div class="gridmeta">
                <p class="gridwho"><i class="fa fa-user"></i> Okan Altun</p>
            </div>
            <p class="gridexerpt">Lorem ipsum dolor set amet, some dummy content..</p>
            <a href="#" class="grid-btn grid-more"><span>More</span> <i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="gridy-1 gridyhe-1">
        <div class="gridimg" style="        background-image: url(https://cw-gbl-gws-prod.azureedge.net/-/media/cw/emea/netherlands/6-feet-office/6fo-video-desktop.jpg?rev=514540e00daf4b2280bccb87a9310586)">&nbsp;</div>

        <div class="gridinfo">
            <h3>Ankara Ofis</h3>
            <div class="gridmeta">

                <p class="gridwho"><i class="fa fa-user"></i> Eto Çetinkaya</p>
            </div>
            <p class="gridexerpt">Lorem ipsum dolor set amet, some dummy content..</p>
            <a href="#" class="grid-btn grid-more"><span>More</span> <i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="gridy-1 gridyhe-2">
        <div class="gridimg" style="        background-image: url(https://www.allianz.co.uk/broker/sme/office/_jcr_content/root/stage/stageimage.img.82.3360.jpeg/1582295600833/sme-comp-office-desktop-stage.jpeg)">&nbsp;</div>

        <div class="gridinfo">
            <h3>İzmir Ofis</h3>
            <div class="gridmeta">

                <p class="gridwho"><i class="fa fa-user"></i> Eto Çetinkaya</p>
            </div>
            <p class="gridexerpt">Lorem ipsum dolor set amet, some dummy content..</p>
            <a href="#" class="grid-btn grid-more"><span>More</span> <i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="gridy-2 gridyhe-1">
        <div class="gridimg" style="        background-image: url(https://www.ceosuite.com/wp-content/uploads/2017/10/Hanoi-Lotte-Center-Serviced-Office-1.jpg?x17205)">&nbsp;</div>

        <div class="gridinfo">
            <h3>New York Ofis</h3>
            <div class="gridmeta">

                <p class="gridwho"><i class="fa fa-user"></i> Okan Altun</p>
            </div>
            <p class="gridexerpt">Lorem ipsum dolor set amet, some dummy content..</p>
            <a href="#" class="grid-btn grid-more"><span>More</span> <i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="gridy-1 gridyhe-1">
        <div class="gridimg" style="        background-image: url(https://www.eliaofficem.com.tr/wp-content/uploads/2021/04/officem-ofis-mobilyalari-antalya-herseye-ragmen-ofisteyiz.jpeg)">&nbsp;</div>
        <div class="gridinfo">
            <h3>Londra Ofis
            </h3>
            <div class="gridmeta">

                <p class="gridwho"><i class="fa fa-user"></i> Okan Altun</p>
            </div>
            <p class="gridexerpt">Lorem ipsum dolor set amet, some dummy content..</p>
            <a href="#" class="grid-btn grid-more"><span>More</span> <i class="fa fa-plus"></i></a>
        </div>
    </div>
    <div class="gridy-1 gridyhe-1">
        <div class="gridimg" style="         background-image: url(https://zivella.com/s/2471/i/calisma-sistemleri-anasayfa-urun-02.jpg)">&nbsp;</div>

        <div class="gridinfo">
            <h3>Dubai Ofis</h3>
            <div class="gridmeta">

                <p class="gridwho"><i class="fa fa-user"></i>Eto Çetinkaya</p>
            </div>
            <p class="gridexerpt">Lorem ipsum dolor set amet, some dummy content..</p>
            <a href="#" class="grid-btn grid-more"><span>More</span> <i class="fa fa-plus"></i></a>
        </div>
    </div>
</div>

<script>
    var elem = $('#masonry');
    if (elem) {
        $('html').scrollTop(elem.offset().top);
        $('html').scrollLeft(elem.offset().left);
    }
</script>