@model OtoGaleri.Data.DataModel.ViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_AdminLayout.cshtml";
}
<head>
    <link href="~/Content-UI/css/table.css" rel="stylesheet" />
</head>
<div style="z-index:0;margin-top:150px" class="table-wrapper">
    <form action="/Brand/Create">
        <button class="btn btn-primary">Yeni Oluştur</button>
    </form>
    <table class="fl-table">
        <thead>
            <tr>
                <th>Marka</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.Brands)
                {
                    <tr>
                        <td>@item.brand_name</td>
                    </tr>
                }
            }

        <tbody>
    </table>
</div>
